In [1]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

In [2]:
2+2

4

In [3]:
50 -5*6

20

In [4]:
(50 - 5*6) / 4

5.0

In [5]:
8 / 5 # division always returns a floating point number

1.6

In [6]:
17 / 3 # classic division returns a float

5.666666666666667

In [7]:
17 // 3 # floor division discards the fractional part

5

In [8]:
17 % 3 # the % operator returns the remainder of the division

2

In [9]:
5 * 3 + 2 # result * divisor + remainder

17

In [10]:
5 ** 2 # 5 squared

25

In [11]:
2 ** 7 # 2 to the power of 7

128

In [12]:
width = 20

In [13]:
height = 5 * 9

In [14]:
width * height

900

In [15]:
n # try to access an undefined variable

NameError: name 'n' is not defined

In [16]:
4 * 3.75 - 1

14.0

In [17]:
tax = 12.5 / 100

In [18]:
price = 100.50

In [19]:
price * tax

12.5625

In [20]:
price + _

113.0625

In [21]:
round(_, 2)

113.06

In [22]:
'spam eggs' # single quotes

'spam eggs'

In [23]:
'doesn\'t' # use \' to escape the single quote...

"doesn't"

In [24]:
"doesn't" # ...or use double quotes instead

"doesn't"

In [25]:
'"Yes," they said.'

'"Yes," they said.'

In [26]:
"\"Yes,\" they said."

'"Yes," they said.'

In [27]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [28]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [29]:
s = 'First line.\nSecond line.' # \n means newline

In [30]:
s # without print(), \n is included in the output

'First line.\nSecond line.'

In [31]:
print(s) # with print(), \n produces a new line

First line.
Second line.

In [32]:
print('C:\some\name') # here \n means newline!

C:\some
ame

In [33]:
print(r'C:\some\name') # note the r before the quote

C:\some\name

In [34]:
print("""\
Usage: thingy [OPTIONS]
     -h                 Display this usage message
     -H                 hostname Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                 Display this usage message
     -H                 hostname Hostname to connect to

In [35]:
3 * 'un' + 'ium'

'unununium'

In [36]:
'Py' 'thon'

'Python'

In [37]:
text = ('Put several strings within parentheses to have them joined together.')

In [38]:
text

'Put several strings within parentheses to have them joined together.'

In [39]:
prefix = 'Py'

In [40]:
prefix 'thon' # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-40-611f66a71513>, line 1)

In [41]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (<ipython-input-41-f4764cbe42a8>, line 1)

In [42]:
prefix = 'Py'

In [43]:
prefix + 'thon'

'Python'

In [44]:
word = 'Python'

In [45]:
word[0] # character in position 0

'P'

In [46]:
word[5] # character in position 5

'n'

In [47]:
word[-1] # last character

'n'

In [48]:
word[-2] # second-last character

'o'

In [49]:
word[-6]

'P'

In [50]:
word[0:2] # characters from position 0 (included) to 2 (excluded)

'Py'

In [51]:
word[2:5] # characters from position 2 (included) to 5 (excluded)

'tho'

In [52]:
word[:2] + word[2:]

'Python'

In [53]:
word[:4] + word[4:]

'Python'

In [54]:
word[:2] # character from the beginning to position 2 (excluded)

'Py'

In [55]:
word[4:] # characters from position 4 (included) to the end

'on'

In [56]:
word[-2:] # characters from the second-last (included) to the end

'on'

In [57]:
word[42] # the word only has 6 characters

IndexError: string index out of range

In [58]:
word[4:42]

'on'

In [59]:
word[42:]

''

In [60]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [61]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [62]:
'J' + word[1:]

'Jython'

In [63]:
word[:2] + 'py'

'Pypy'

In [64]:
s = 'supercalifragilisticexpialidocious'

In [65]:
len(s)

34

In [66]:
squares = [1, 4, 9, 16, 25]

In [67]:
squares

[1, 4, 9, 16, 25]

In [68]:
squares[0] # indexing returns the item

1

In [69]:
squares[-1]

25

In [70]:
squares[-3:] # slicing returns a new list

[9, 16, 25]

In [71]:
squares[:]

[1, 4, 9, 16, 25]

In [72]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
cubes = [1, 8, 27, 65, 125] # something's wrong here

In [74]:
4 ** 3 # the cube of 4 is 64, not 65!

64

In [75]:
cubes[3] = 64 # replace the wrong value

In [76]:
cubes

[1, 8, 27, 64, 125]

In [77]:
cubes.append(216) # add the cube of 6

In [78]:
cubes.append(7 ** 3) # and the cube of 7

In [79]:
cubes

[1, 8, 27, 64, 125, 216, 343]

In [80]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [81]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [82]:
# replace some values

In [83]:
letters[2:5] = ['C', 'D', 'E']

In [84]:
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [85]:
# now remove them

In [86]:
letters[2:5] = []

In [87]:
letters

['a', 'b', 'f', 'g']

In [88]:
# clear the list by replacing all the elements with an empty list

In [89]:
letters[:] = []

In [90]:
letters

[]

In [91]:
letters = ['a', 'b', 'c', 'd']

In [92]:
len(letters)

4

In [93]:
a = ['a', 'b', 'c']

In [94]:
n = [1, 2, 3]

In [95]:
x = [a, n]

In [96]:
x

[['a', 'b', 'c'], [1, 2, 3]]

In [97]:
x[0]

['a', 'b', 'c']

In [98]:
x[0][1]

'b'

In [99]:
i = 256 * 256

In [100]:
print('The value of i is', i)

The value of i is 65536

In [101]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1

In [102]:
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,